NODE_ENV=development
PORT=3000
APP_NAME=helix

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=helix
DATABASE_PASSWORD=helix_dev_password
DATABASE_NAME=helix_dev
DATABASE_SSL=false

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Internal patient-access bootstrap
BOOTSTRAP_ORGANIZATION_ID=
BOOTSTRAP_PATIENT_ID=
BOOTSTRAP_USER_ID=
BOOTSTRAP_RELATIONSHIP_TYPE=organization_admin_viewer
BOOTSTRAP_CONSENT_TYPE=patient_data_access
BOOTSTRAP_CONSENT_SCOPES=patients.read,patients.write
